<div id="main">

  <!-- post -->
  <section id="line-contents" class="site-width">
    <h1 class="title"><%= @post.title %></h1>
    <%= markdown(@post.content).html_safe %>
    <%= link_to '一覧に戻る', posts_path, class: 'btn' %>
  </section>
</div>
